body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(---body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.container-width,
.container-width-fluid,
.container-xxl-width,
.container-xl-width,
.container-lg-width,
.container-md-width,
.container-sm-width {
  width: calc(var(--container-width) - var(--container-x-padding));
  margin-right: auto;
  margin-left: auto;

}

@media (min-width: 576px) {

  .container-sm-width,
  .container-width {
    max-width: var(--container-sm-width);
  }
}

@media (min-width: 768px) {

  .container-md-width,
  .container-sm-width,
  .container-width {
    max-width: var(--container-md-width);
  }
}

@media (min-width: 992px) {

  .container-lg-width,
  .container-md-width,
  .container-sm-width,
  .container-width {
    max-width: var(--container-lg-width);
  }
}

@media (min-width: 1200px) {

  .container-xl-width,
  .container-lg-width,
  .container-md-width,
  .container-sm-width,
  .container-width {
    max-width: var(--container-xl-width);
  }
}

@media (min-width: 1400px) {

  .container-xxl-width,
  .container-xl-width,
  .container-lg-width,
  .container-md-width,
  .container-sm-width,
  .container-width {
    max-width: var(--container-xxl-width);
  }
}