:root {
    --color-primary-100:#001417;
    --color-primary-90:#003c44;
    --color-primary-80:#006472;
    --color-primary-70:#008ba0;
    --color-primary-60:#00b3cd;
    --color-primary-50:#00c7e4;
    --color-primary-40:#1acde7;
    --color-primary-30:#4dd8ec;
    --color-primary-20:#80e3f2;
    --color-primary-10:#b3eef7;
    --color-primary-0:#e6f9fc;
}