:root {
    /* layout variable */
    /* container left right padding */
    --container-padding-right : 20px;
    --container-padding-left : 20px;

    /* container width */
    --main-container-width:100%;
    --container-sm-width: 540px; /*576px breakpoint*/
    --container-md-width: 720px; /*768px breakpoint*/
    --container-lg-width: 960px; /*992px breakpoint*/
    --container-xl-width: 1140px; /*1200px breakpoint*/
    --container-xxl-width: 1320px; /*1400px breakpoint*/


    
    --color-primary-100:#001417;
    --color-primary-90:#003c44;
    --color-primary-80:#006472;
    --color-primary-70:#008ba0;
    --color-primary-60:#00b3cd;
    --color-primary-50:#00c7e4;
    --color-primary-40:#1acde7;
    --color-primary-30:#4dd8ec;
    --color-primary-20:#80e3f2;
    --color-primary-10:#b3eef7;
    --color-primary-0:#e6f9fc;




}